            case <%= case %>: {
                List<String> tokens = null;
                if(sections.length >= 3)
                    tokens = split(sections[2], <%= componentCount %>);

                <%= constructionVariables %>
                <%= body %>
                <%= packetType %> packet = new <%= packetType %>(<%= constructionArgs %>);
                consumer.accept(packet);
            } break;
