html {
    scroll-behavior: auto;
    transition-duration: 0s;
    overflow-wrap: break-word;
    overflow-x: hidden;
    width: auto;
    word-wrap: break-word;

    font-size: 12px;
    font-family: Arial;
}

global {
    color: darkgray;
}

warning {
    color: red;
    font-weight: bold;
}

server {
    color: lightgray;
}

game {
    color: darkcyan;
}

whisper {
    color: orange;
}

client {
    color: darkseagreen;
}
